# Ignore node_modules directory
node_modules

# Ignore build output
dist
build

# Ignore logs
*.log

<!-- # Ignore local environment variables
.env -->

# Ignore git files
.git
.gitignore

# Ignore IDE files
.idea
.vscode

# Ignore OS files
Thumbs.db
.DS_Store
